.gridPartFullHeight { height:90% !important; top:78px !important; z-index:0 !important; }
.measurePositionTop { position:fixed; top:65px !important; }
.jqx-splitter-splitbar-horizontal { top:71px !important;}
.customChartSelectionWindow { z-index:99999 !important;}