.podLoader .pace { -webkit-user-select: none; -moz-user-select: none; user-select: none; z-index: 2; height: 100%; width: 100%; margin: auto; opacity: 0.8; background: black; position: absolute; }
.podLoader .pace .pace-progress { width: 185px !important;}
.podLoader .pace .pace-progress > i { margin-top: 37px; margin-left: 25px; color: white; }