.customTabs {position: absolute; z-index: 10000; margin-top: -35px; right: 30px;}
.customTabs ul li { margin-bottom: -2px; border: none;}
.customTabs ul li a { padding: 2px 5px; border: none;}
.customTabs ul li:hover,.customTabs ul li a:hover { background: none; border: none;}