<header id="header" class="bg-white ng-scope">
	<div id="logo-group">
	    <!-- PLACE YOUR LOGO HERE -->
	    <span id="logo"><img style="height: 50px;" src="assets/img/logo.png" title="Ultralysis" alt="Ultralysis" /></span>
	</div>

	<!-- pulled right: nav area -->
	<div class="pull-right">
	    <!-- collapse menu button -->
	    <div id="hide-menu" class="btn-header pull-right">
	        <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
	    </div>
	    <!-- end collapse menu -->
	    
	    <!-- search mobile button (this is hidden till mobile view port) -->
	    <div id="search-mobile" class="btn-header transparent pull-right">
	        <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
	    </div>
	</div>
</header>