/* CHART TOOLTIP */
.chartTooltipTitle {
    border-bottom: 1px dotted;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
}
.chartTooltipLine {
    margin: 4px 0;
    font-size: 13px;
}

.podContainer { height: 100%; box-shadow: none; }