.timeSelectionTextRow{
    margin: 10px;
    text-align: center;
}
.timeSelectionClass {
	min-width: 120px ;
    min-height: 100px;
    position: absolute;
    z-index: 9999999 !important;
    width: 530px;
    top: 47px;
    left: 418px;
}