.container_pod_scroll {
    float: left !important;        
    width: 100% !important;
    clear: right !important;
    margin: 10px important;
    padding: 0px important;
}
.jarviswidget .jarviswidget-color-blueDark {
    margin: 0px important;
    padding: 0px important;
}

.k-chart, .k-stockchart { height: 350px !important;}